@tailwind base;
@tailwind components;
@tailwind utilities;
.ͼ1.cm-focused {
  outline: none;
}
.cm-scroller {
  overflow-y: visible; /* hide the vertical scrollbar */
  scrollbar-width: thin;
}

.cm-scroller::-webkit-scrollbar {
  width: 0px; /* set the width of the scrollbar */
  height: 10px;
}

.cm-scroller::-webkit-scrollbar-thumb {
  background-color: black; /* set the color of the thumb */
  border-radius: 8px;
}

.cm-scroller::-webkit-scrollbar-thumb:hover {
  background-color: transparent; /* set the color of the thumb on hover */
}

.cm-scroller::-webkit-scrollbar-track {
  background-color: transparent; /* set the color of the track */
}
